.line-chart{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%;
}
#myChart {
        width: 100%;  /* Fills entire grid area */
        height: 100%; /* Fills entire grid area */
      }