body{
    font-family: Arial, Helvetica, sans-serif;
}

.countryName{
    background-color: #04838f;
    width: 20%;
    border-radius: 10px;
    font-size: xx-large;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding: 10px;
    margin-bottom: 40px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.item{
    border: 1px solid #04838f;
    padding: 3px 10px;
    border-radius: 10px;
    width: 200px;
    p {text-align: center;}
}