.container-component {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 80vw;
}
